:root {
  --clr-primary-100: hsl(223, 87%, 63%);
  --clr-primary-200: hsl(0, 0%, 100%);

  --clr-secondary-100: hsl(223, 100%, 88%);
  --clr-secondary-200: hsl(354, 100%, 66%);
  --clr-secondary-300: hsl(0, 0%, 59%);
  --clr-secondary-400: hsl(209, 33%, 12%);

  --ff-base: "Libre Franklin", sans-serif;

  --fw-light: 300;
  --fw-regular: 600;
  --fw-semi-bold: 700;

  --fs-base: 16px;

  --fs-200: 0.525rem;
  --fs-300: 0.7375rem;
  --fs-400: 0.9275rem;
  --fs-500: 1.315rem;
  --fs-600: 1.625rem;
  --fs-900: 2.5rem;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
  padding: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* General Styling */
body {
  font-family: var(--ff-base);
  display: grid;
  place-content: center;
}

main {
  margin-inline: 30px;
  /* max-width: 400px; */
}

header {
  display: block;
  justify-self: center;
  margin-top: 80px;
}

header img {
  width: 55px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 40px;
}

.title h1 {
  font-size: var(--fs-500);
  color: var(--clr-secondary-400);
  margin-bottom: 20px;
}

.title h1 span {
  color: var(--clr-secondary-300);
  font-weight: var(--fw-light);
}

.title>span {
  font-size: var(--fs-300);
  color: var(--clr-secondary-400);
}

/* Email Styling */
.email {
  display: grid;
  gap: 5px;
  margin: 20px;
}

.email-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.email input {
  border: 1px solid var(--clr-secondary-100);
  width: 100%;
  text-indent: 20px;
}

.email input:focus {
  outline: none;
}

.email button {
  background-color: var(--clr-primary-100);
  color: var(--clr-primary-200);
  font-weight: var(--fw-regular);
  border: none;
  box-shadow: 0 5px 10px 0.2px var(--clr-secondary-100);
  cursor: pointer;
}

input,
button {
  border-radius: 100px;
  padding: 10px;
  font-size: var(--fs-300);
}

#errorMsg {
  display: none;
  text-align: center;
  color: var(--clr-secondary-200);
  font-size: var(--fs-300);
  margin-bottom: 20px;
}

::placeholder {
  font-size: var(--fs-300);
  color: var(--clr-secondary-100);
}

picture {
  display: block;
  margin-block: 40px;
}

footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: var(--clr-secondary-300);
  font-size: var(--fs-300);
  text-align: center;
  margin-block: 10px;

  .icons {
    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .icons a {
    color: var(--clr-primary-100);
  }

  .icons i {
    border: 1px solid var(--clr-secondary-100);
    border-radius: 50px;
    padding: 5px;
  }

  .attribution a {
    color: var(--clr-primary-100);
    text-decoration: none;
  }
}

@media (min-width: 670px) {

  header {
    margin-top: 50px;
  }

  header img {
    width: 70px;
  }

  .title {
    margin-block: 20px;
  }

  .title h1 {
    font-size: var(--fs-900);
    margin-bottom: 10px;
  }

  .title>span {
    font-size: var(--fs-400);
  }

  picture {
    max-width: 550px;
  }

  .email {
    display: flex;
    margin: 0em;
    justify-content: space-evenly;
    align-items: center;
  }

  .email input {
    text-indent: 10px;
    padding-right: 200px;
  }

  .email button {
    width: fit-content;
    width: 150px;
  }

  .email button:hover {
    background-color: var(--clr-secondary-100);
  }

  input,
  button {
    padding: 15px;
    font-size: var(--fs-300);
  }

  ::placeholder {
    font-size: var(--fs-300);
  }

  #errorMsg {
    position: absolute;
    top: 15rem;
    text-align: left;
    text-indent: 25px;
    font-size: var(--fs-300);
  }

  .icons a:hover {
    color: var(--clr-primary-200);
  }

  .icons i:hover {
    border: none;
    background-color: var(--clr-primary-100);
  }
}